@import 'reset-css/sass/reset';

* {
	text-decoration: none;
	box-sizing: border-box;
}

body {
	background-color: #141114;
}

#app {
	font-weight: 500;
	font-variant-numeric: lining-nums proportional-nums;
	font-feature-settings:
		'clig' off,
		'liga' off;
	font-family: Raleway, sans-serif;
}
