@import 'reset.css';

* {
	color: #ffffff;
}

body {
	background-color: $main-bg;
}

#app {
	font-weight: 500;
	font-variant-numeric: lining-nums proportional-nums;
	font-feature-settings:
		'clig' off,
		'liga' off;
	font-family: Raleway, sans-serif;
}
