$main-dark: #141114;
$glowing-gradient: linear-gradient(
	120deg,
	#241731 0.12%,
	#141114 33.66%,
	#141114 67.35%,
	#431031 99.7%
);
$border-gradient: linear-gradient(
	271deg,
	#ffa5f6 9.37%,
	#b8eaff 43.21%,
	#a35aff 78.74%,
	#ebc2e2 111.38%
);

$base-gradient: linear-gradient(
	273deg,
	#b8eaff -26.39%,
	#ebc2e2 -2.55%,
	#ffa5f6 15.07%,
	#a35aff 110.58%
);
$main-solid: #7a02b6;
