.slider__team{
	width: 130%;
}

.slider__reviews {
	width: 185%;
}


.slider__team__navigation{
	width: 77%;
}

.slider__reviews__navigation {
	width: 54.5%;
}

.slider__team__slide {
	max-width: 214px;
}

.slider__team__image{
	border-radius: 10px;
	max-height: 214px;
	width: 100%;
}

.slider__reviews__avatar {
	border-radius: 50%;
}

.slider__reviews__text {
	border-radius: 10px;
}