body {
  background-color: #141114;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Raleway;
}

.no-touch .nav__link:hover,
.nav__link__active {
  color: #7a02b6;
}

.video__title {
  -webkit-text-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
  -moz-text-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.video {
  display: block;
  border-radius: 20px;
  cursor: pointer;
}

.video__bg {
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(
    90deg,
    #7a02b6 0%,
    #bb2284 30.43%,
    #7a02b6 68.23%,
    #6e0c4d 100%
  );
  background-size: 200% 200%;
  border-radius: 20px;
  animation: AnimateBorder 2s ease infinite;
  -webkit-animation: AnimateBorder 2s ease infinite;
  -moz-animation: AnimateBorder 2s ease infinite;
  transform: translate(-2px, -2px);
  transition: filter 0.5s ease-in;
}

.video__wrapper .video__bg {
  filter: blur(10px);
  transition: filter 0.4s ease-in;
}

.button__gradient {
  background: linear-gradient(
    120deg,
    #241731 0.12%,
    #141114 33.66%,
    #141114 67.35%,
    #431031 99.7%
  );
  margin: auto;
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box;
  border: solid 1px transparent;
  border-radius: 12px;
}

.button__gradient::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: linear-gradient(
    271deg,
    #ffa5f6 9.37%,
    #b8eaff 43.21%,
    #a35aff 78.74%,
    #ebc2e2 111.38%
  );
}

.button__gradient:hover {
  background: linear-gradient(
    271deg,
    #ffa5f6 9.37%,
    #b8eaff 43.21%,
    #a35aff 78.74%,
    #ebc2e2 111.38%
  );
}

.button__gradient:hover::before {
  background: none;
}

.background__text {
  font-size: 130px;
  color: #141114;
  background: linear-gradient(
    to right,
    rgba(255, 102, 208, 1),
    rgba(159, 157, 255, 1),
    rgba(255, 255, 255, 1)
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.arrow {
  right: -1.75rem;
  bottom: -0.5rem;
}

#ellipse__1 {
  margin-top: 40%;
}

#ellipse__2 {
  margin-top: 70%;
}

#ellipse__3 {
  margin-top: -60%;
}

#ellipse__5 {
  margin-top: 30%;
}

#contact-modal {
  max-width: 414px;
  margin: 0 auto 0 auto;
  animation: modal__show 0.7s;
}

@keyframes modal__show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card__img {
  height: 204px;
  width: 100%;
  border-radius: 12px;
}

.card__button {
  border-radius: 8px;
}

.card__button:hover {
  background-color: #7A02B6;
}

footer {
  background-color: #680064;
  padding: 20px 20px 10px 20px;
  border-radius: 20px 20px 0 0;
  text-underline-offset: 6px;
}

footer > img {
  border-radius: 12px;
}

.text-vxs {
  font-size: 0.625rem;
}

.form__button {
  border-radius: 12px;
  background: linear-gradient(
    273deg,
    #b8eaff -26.39%,
    #ebc2e2 -2.55%,
    #ffa5f6 15.07%,
    #a35aff 110.58%
  );
  box-shadow: 0px 8px 8px 0px rgba(47, 0, 94, 0.1);
  transition: all 1s ease-in-out;
}

.form__button:hover {
  background: #7a02b6;
}

.form__input {
  border-radius: 8px;
  border: 1px solid #ffa5f6;
  opacity: 0.5;
}

.arrow__bounce {
  animation: arrow__bounce 1s;
}

@keyframes arrow__bounce {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(25%);
  }
  100% {
    transform: translateY(0%);
  }
}

.drop__bounce {
  animation: drop__bounce 1s;
}

@keyframes drop__bounce {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes AnimateBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimateBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimateBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 320px) {
  .nav__link {
    font-size: 12px;
  }
  nav img {
    margin-right: 1rem;
  }
}

@media (min-width: 320px) {
  .nav__link {
    font-size: 12px;
  }
  nav img {
    margin-right: 1.5rem;
  }

  #first__paragraph {
    font-size: 16px;
  }

  .section__paragraph {
    font-size: 14px;
  }

  .background__text {
    font-size: 100px;
  }
}

@media (min-width: 360px) {
  .nav__link {
    font-size: 15px;
  }

  nav img {
    margin-right: 2rem;
  }
  #first__paragraph {
    font-size: 18px;
  }

  .section__paragraph {
    font-size: 15px;
  }

  .background__text {
    font-size: 115px;
  }
  button {
    font-size: 17px;
  }
}

@media (min-width: 400px) {
  .nav__link {
    font-size: 16px;
  }

  nav img {
    margin-right: 3rem;
  }
  #first__paragraph {
    font-size: 20px;
  }

  .section__paragraph {
    font-size: 16px;
  }

  .background__text {
    font-size: 130px;
  }
  button {
    font-size: 18px;
  }
}
