body {
  background-color: #141114;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Raleway;
}


.video__title {
  -webkit-text-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
  -moz-text-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
}

.video {
  display: block;
  border-radius: 10px;
  border: 0px;
  cursor: pointer;
}

.video__bg {
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(
    90deg,
    #7a02b6 0%,
    #bb2284 30.43%,
    #7a02b6 68.23%,
    #6e0c4d 100%
  );
  background-size: 200% 200%;
  border-radius: 10px;
  animation: AnimateBorder 2s ease infinite;
  -webkit-animation: AnimateBorder 2s ease infinite;
  -moz-animation: AnimateBorder 2s ease infinite;
  transform: translate(-2px, -2px);
  transition: filter 0.5s ease-in;
}

.video__wrapper .video__bg {
  filter: blur(10px);
  transition: filter 0.4s ease-in;
}

.button__gradient {
  margin: auto;
  position: relative;
  box-sizing: border-box;
  /* background: #141114; */
  background: linear-gradient(90deg, #21152D 0.71%, #141114 47.75%, #141114 61.83%, #2D1222 100%);
  background-clip: padding-box;
  border: solid 1px transparent;
  border-radius: 8px;
}

.button__gradient::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;           
  background: linear-gradient(271deg, #FFA5F6 9.37%, #B8EAFF 43.21%, #A35AFF 78.74%, #EBC2E2 111.38%); 
}

.button__gradient:hover {
  background: linear-gradient(271deg, #FFA5F6 9.37%, #B8EAFF 43.21%, #A35AFF 78.74%, #EBC2E2 111.38%);
}

.button__gradient:hover::before {
  background: none;
}

.background__text {
  font-size: 120px;
  color: #141114;
  background: linear-gradient(to right, rgba(255, 102, 208, 1), rgba(159, 157, 255, 1), rgba(255, 255, 255, 1));
  background-color:rgba(0, 0, 0, 0.1);
  background-clip: text;
  -webkit-background-clip: text;
}

.arrow {
  right: -1.75rem;
  bottom: 0.2rem;
  /* bottom: -2rem; */
}



.purple__ellipse {
  margin-left: -10%;
  margin-top: 50px;
  top: 0;
  /* top: 30; */
}

.red__ellipse {
  margin-right: -10%;
  top: 0;
  margin-top: 120px;
}

@keyframes background__text__stroke {
  from {
    -webkit-text-stroke: 2px #7b7680;
  }
  to {
    -webkit-text-stroke: 2px rgba(77, 38, 129, 0.40);
  }
}

@keyframes background__text__gradient {
  from {
    -webkit-text-stroke: 2px rgba(77, 38, 129, 0.40);
  }
  to {
    background: linear-gradient(45deg, #984989, #7b7680, #7b7680);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
  }
}

@-webkit-keyframes AnimateBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimateBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimateBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}