@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .leading-12 {
    line-height: 3rem /* -48px */;
  }

  .leading-8\.5 {
    line-height: 2.125rem /* -34px */;
  }
  .-mt-18 {
    margin-top: -4.5rem /* -72px */;
  }
  .mt-18 {
    margin-top: 4.5rem /* 72px */;
  }
  .-mt-17 {
    margin-top: -4.25rem /* -68px */;
  }

  .card__header {
    @apply text-xl font-semibold mb-2;
  }

  .card {
    @apply mb-10;
  }

  .underline-offset-16 {
    text-underline-offset: 16px;
  }

  .bg-main {
    background-color: #141114;
  }

  .mt-6\.5 {
    margin-top: 1.625rem/* 26px */;
  }

  .-mt-6\.5 {
    margin-top: -1.625rem/* -26px */;
  }

  .pt-26 {
    padding-top: 6.5rem/* 104px*/;
  }
}
